{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}
  {% trans "Social Network Login Failure" %}
{% endblock %}

{% block content %}
  <div class="container">
    <p>
      <h2>{% trans "Social Network Login Failure" %}</h2>

      <p>{% trans "An error occurred while attempting to login via your social network account." %}</p>
    </p>
  </div>
{% endblock %}
