{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block title %}
  {% trans "Change Password" %}
{% endblock title %}

{% block content %}
  <div class="container">
    <p>
      <h2>{% trans "Change Password" %}</h2>

      <form class="col-md-4 password_change"
            method="post"
            action="{% url 'account_change_password' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">{% trans 'Change Password' %}</button>
        <a class="btn btn-info" href="#" onclick="window.history.back()">Cancel</a>
      </form>
    </p>
  </div>
{% endblock content %}
