{% extends "base.html" %}

{% block title %}Success - Message Sent{% endblock %}

{% block content %}
  <div class="container">
    <p>
      <h3>Success!</h3>
      <h4>Thank you for your message.</h4>
    </p>
  </div>
{% endblock content %}
