body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.lead {
  font-weight: 500;
  color: ffffff;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.bookcover {
  height: 200px;
  width: auto;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  /* padding: 0;  Remove padding */
  margin: 0; /* Remove margins */
}

.copyright {
  color: white;
  font-size: 70%;
}

.author {
  margin-left:20px;
  margin-top:20px;
}
