{% extends 'base.html' %}

{% block title %}
  About
{% endblock title %}

{% block content %}
  <div class="container">
    <p>
      <h2>About Page</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu sem integer vitae justo eget magna fermentum. Nibh ipsum consequat nisl vel pretium lectus quam id.
      </p>
      <p>
        Amet consectetur adipiscing elit duis tristique sollicitudin nibh. Id diam vel quam elementum pulvinar etiam non quam lacus. Nisl nunc mi ipsum faucibus vitae aliquet nec.
      </p>
      <p>
        d donec ultrices tincidunt arcu non sodales neque. Habitant morbi tristique senectus et netus. Bibendum ut tristique et egestas quis. Leo vel orci porta non pulvinar neque laoreet suspendisse.
      </p>
      <p>Quis lectus nulla at volutpat diam ut venenatis.</p>
    </p>
    <hr />
    <p>
      Curious about the code running this site? Want to contribute? Take a look at
      the <a class="btn btn-info"
    href="https://github.com/kevinbowen777/library"
    target="_blank">Source Code</a>
    </p>
    <p>
      Found a bug? Please take a moment and report the issue:
      <a class="btn btn-info"
         href="https://github.com/kevinbowen777/library/issues"
         target="_blank">Bug Reports</a>
    </p>
  </div>
{% endblock content %}
