{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Add New Author
{% endblock title %}

{% block content %}
  <div class="container">
    <p>
      <h2>Add a new author:</h2>
      <form class="col-md-6" action="" method="post">
        {% csrf_token %}
        <table>
          {{ form|crispy }}
        </table>
        <button class="btn btn-outline-dark" type="submit">Submit</button>
        <a class="btn btn-info" href="#" onclick="window.history.back()">Cancel</a>
      </form>
    </p>
  </div>
{% endblock %}
