{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Add a New Book
{% endblock title %}

{% block content %}
  <div class="container">
    <p>
      <h2>Add a new book:</h2>
      <form class="col-md-6" action="" method="post">
        {% csrf_token %}
        <table>
          {{ form|crispy }}
        </table>
        <button class="btn btn-success" type="submit">Submit</button>
        <a class="btn btn-info" href="{% url 'books' %}">Cancel</a>
      </form>
    </p>
  </div>
{% endblock %}
